h1{display:flex; justify-content:center;align-items:center; gap: .35em; font-size: 1em; font-family: system-ui;margin: 3em 0;}
h1 img { width:1.75em; height: auto;}
#wrapper { width: 42em; max-width:95%; margin:auto; }
section{line-height:1.4; background-color: #fdfdfd; padding: 1em; border-radius: .5em; margin-bottom: 1em;}
section > *:first-child {margin-top:0;}
section > *:last-child {margin-bottom:0;}
html{background-color:#f1f1f1;}
p{transform: rotateZ(.03deg);}
h2 { font-size: 1em; font-family: system-ui;}
